# 忽略临时文件和编译生成的文件
*.o
*.out
*.so
*.a
*.in.out
*.po.out
*.db
*.log
*.log.bak
*.txt

#忽略特定目录
/tmp/
/test_main/*.log
/test_main/*.log.bak
/test_main/test_client
/test_main/test_server
/src/*.h
/src/sqlite
/etc/
/sqlite3/
/include/send.h
/include/usage.h
/lib/
cscope.*
tags
